<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Galeria de Vídeos</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <style>
        .video {
            width: {{ width }}%;
        }
    </style>
</head>
<body>
    <div>
        {% for video in videos %}
            <video class="video" controls>
                <source src="{{ url_for('mostrar_arquivo', nome_arquivo=video) }}" type="video/mp4">
                Seu navegador não suporta a tag de vídeo.
            </video>
        {% endfor %}
    </div>

    <div class="pagination">
        {% if pagina > 1 %}
            <a href="{{ url_for('videos', page=pagina-1, per_page=per_page, width=width) }}">« Página Anterior</a>
        {% endif %}
        {% if pagina < total_paginas %}
            <a href="{{ url_for('videos', page=pagina+1, per_page=per_page, width=width) }}">Próxima Página »</a>
        {% endif %}
    </div>
</body>
</html>
