<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>Visualizador de Mídia</title>
    <style>
        .media-item {
            width: {{ width }}%;
            margin-bottom: 20px;
        }
        img.media-item {
            display: block;
            max-width: 100%;
            height: auto;
        }
        video.media-item {
            display: block;
            max-width: 100%;
        }
    </style>
</head>
<body>
    <div>
        {% for media in media_files %}
            {% if media.lower().endswith(('.png', '.jpg', '.jpeg', '.gif')) %}
                <img src="{{ url_for('mostrar_arquivo', nome_arquivo=media, media_folder=media_folder) }}" 
                     alt="{{ media }}" 
                     class="media-item">
            {% elif media.lower().endswith(('.mp4', '.avi', '.mov', '.mkv')) %}
                <video controls class="media-item">
                    <source src="{{ url_for('mostrar_arquivo', nome_arquivo=media, media_folder=media_folder) }}" 
                            type="video/{{ media.split('.')[-1] }}">
                    Seu navegador não suporta o elemento de vídeo.
                </video>
            {% endif %}
        {% endfor %}
    </div>

    <div class="pagination">
        {% if pagina > 1 %}
            <a href="{{ url_for('view', media_folder=media_folder, page=pagina-1, per_page=per_page, width=width) }}">«</a>
        {% endif %}
        {% if pagina < total_paginas %}
            <a href="{{ url_for('view', media_folder=media_folder, page=pagina+1, per_page=per_page, width=width) }}">»</a>
        {% endif %}
    </div>
</body>
</html>
